Django==1.7.7
MySQL-python==1.2.5
argparse==1.2.1
django-configurations==0.8
dj-database-url==0.3.0
dj-static==0.0.6
gunicorn==19.1.1
psycopg2==2.5.1
static==0.4
wsgiref==0.1.2
django-bootstrap3
django-form-utils
django-widget-tweaks
django-tastypie
django-geoposition
django-tastypie-swagger
simplejson