{% extends 'pdisplays/base.html' %}
{% load bootstrap3 %}
{% block payload %}
	<h3>{{ object.title }}</h3>
	<a href="{% url 'new-description' object.pk %}"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> New description</a><br />
	<table class="table table-striped">
		<tr>
			<th>#</th>
			<th>View</th>
		</tr>
		{% for description in object.descriptions.all %}
		    <tr>
		    	<td>{{ forloop.counter }}</td>
		    	<td><a href="{% url 'view-description' object.pk description.pk %}">View</a></td>
		    </tr>
		{% endfor %}
	</table>
{% endblock %}